inst/doc
.Rproj.user
*.Rhistory
PackageWalkthrough_cache
doc
Meta
man/figures
src/*.o
src/*.so
src/*.dll
src/*.exe
inst/stan/*.exe
*.exe
*.so
*.o
*.dll
CRAN-RELEASE
inst/benchmarks
CLAUDE.md
.claude/

.quarto/
